body {
  margin: 0px;
}

svg {
  position: fixed;
  width: 100%;
  height: 100%;
}

.cls-1 {
  fill:#999;
}

.cls-2 {
  fill:#b3b3b3;
}

.cls-3 {
  fill:gray;
}

.cls-1,.cls-2,.cls-3 {
  stroke: #c7b299; 
  stroke-linecap: round; 
  stroke-linejoin: round; 
  stroke-width: 2px; 
}









